<nav class="mb-2 d-flex justify-content-center">
  <button class="btn btn-primary mx-2" (click)="loadTestData()">
    Load Data
  </button>
  <button class="btn btn-primary mx-2" (click)="clearReel()">Clear Data</button>
</nav>
<nav class="mb-2">
  <div class="d-flex btn-group" role="group">
    <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">
      Home
    </a>
    <a routerLink="/reel" routerLinkActive="active" class="btn btn-primary">
      Reel
    </a>
    <a routerLink="/new-shot" routerLinkActive="active" class="btn btn-primary">
      New Shot
    </a>
  </div>
</nav>
